@model PaseosEcologicos.Model.Tipos_De_Servicios

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Tipo de Servicio</h2>

<h3>Seguro que lo desea eliminar?</h3>
<fieldset>
    <legend>Tipos De Servicios</legend>
    <div class="form-group">
        <div class="display-label">Titulo</div>
        <div class="display-field form-control" disabled>@Model.Titulo</div>
    </div>
    <div class="form-group">
        <div class="display-label">Descripcion</div>
        <div class="display-field form-control" disabled>@Model.Descripcion</div>
    </div>
    <div class="form-group">
        <div class="display-label">Servicios</div>
        <div class="display-field form-control" disabled>@(Model.Servicios == null ? "None" : Model.Servicios.Count.ToString())</div>
    </div></fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="btn" value="Eliminar" /> |
          @Html.ActionLink("Atrás", "Index", null, new  {@class = "btn btn-default"})
    </p>
}

