@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
  <h1>Bienvenidos a la administracions de PaseosEcologicos</h1>
  <p>
      Administracion de servicios, clientes y demas.
  </p>
  <p>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" })</p>
</div>